* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100%;  
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
    color: #fafafa;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    background-image: url('../images/home_page_image1.webp');
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* nested flexbox used for .overlay to cover the whole main section without affecting the footer */
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
}

.home-page-text-lge {
    font-family: 'Orbitron', sans-serif;
    font-size: 350%;
    letter-spacing: 2px;
    /* Credit: code for outline effect taken from stackoverflow.com and edited slightly to fit the project's needs */
    text-shadow: #000 4px 4px 4px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
}

.home-page-text-sml {
    line-height: 150%;
    letter-spacing: 1px;
    font-size: 170%;
    /* Credit: code for outline effect taken from stackoverflow.com and edited slightly to fit the project's needs */
    text-shadow: #000 4px 4px 4px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
}

.logo {
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 180%;
}

.logo img {
    height: 60px;
}

.text-info {
    color: #e4caa3 !important;
}

.shop-now-button {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    font-size: 90%;
    font-weight: 600;
    background: black;
    min-width: 220px;
    border: #5e7ea8 solid 2px;
    border-radius: 0;
    color: #5e7ea8;
}

.shop-now-button:hover {
    background-color: #5e7ea8;
    border:#000 solid 2px;
    color:#000;
}

.pagination {
    font-size: 110%;
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow: #000 4px 4px 4px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
}

.card {
    padding: 5px 10px 0 10px;
    border-width: 2px;
    border-color: #656375;
    border-radius: 0;
    background-color: #00000090;
}

.card-img-top {
    display: block;
    width: 90%;
    height: 400px;
    object-fit: contain;
    margin: 10px auto 0 auto;
}

.card-body {
    height: 130px;
    padding:  1.5rem 0.75rem !important;
}

.txt-card-footer {
    color: #5e7ea8;
}

.btn-black {
    background: black;
    color: #5e7ea8;
    border: 1px solid #5e7ea8 ;
}

.btn-black:hover {
    color: #7e98b9;
    border: 1px solid #7e98b9;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

footer {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
}

a {
    color: #5e7ea8;
}

a:hover {
    color: #92afd6;
    text-decoration: none;
}

.categories-li {
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}

.navbar {
    padding-top: 0;
}

.orbitron {
    font-family: 'Orbitron', sans-serif;
    font-size: 200%;
    letter-spacing: 2px;
    color: #ecc488;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.glaucous {
    color: #5e7ea8;
}

.overlay {
    flex: 1 0 auto;
	background-image: url('../images/shutterstock_522121006.jpg');
    background-size: 50%;
    background-repeat: repeat;
	z-index: 1;
    padding-bottom: 30px;
}

.overlay-inner {
    margin-top: 40px;
    padding: 0 30px 30px 30px;
    border: 2px solid #656375;
    border-radius: 0;
    background-color: #00000090;
    width: 100%;
    overflow-x: auto;
}

.form-control {
    border-radius: 0 !important;
}

.product-list {
    padding: 0 6rem;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99999999;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* Bootstrap toasts customization */

.message-container {
    position: fixed;
    top: 80px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible !important;
}

.toast-capper {
    height: 2px !important;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* Media Queries */

@media (min-width: 1700px) {

    .product-container {
      max-width: 90%;
      margin: 0 auto;
    }

    .card {
        padding: 15px 10px 0 10px;
    }

    .image-container a img {
        max-width: 80%;
    }
  }

@media screen and (min-width: 1201px) and (max-width: 1400px) {

    .logo {
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 118%;
    }
    
    .logo img {
        height: 50px;
    }

    .home-page-text-lge {
        margin-top: 2rem;
        font-size: 340%;
    }

    .home-page-text-sml {
        line-height: 130%;
    }

    .product-list {
        padding: 0 3rem;
    }

    .product-category {
        font-size: 190%;
    }

    .card {
        padding: 0 10px;
    }

    .card-img-top {
        height: 400px;
        margin: 10px auto 0 auto;
    }
}

@media screen and (min-width: 991px) and (max-width: 1200px) {

    .logo {
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 118%;
    }

    .logo img {
        height: 50px;
    }

    .home-page-text-lge {
        margin-top: 2rem;
        font-size: 340%;
    }

    .home-page-text-sml {
        line-height: 130%;
    }

    .home-page-text-lge {
        margin-top: 2rem;
        font-size: 320%;
    }

    .home-page-text-sml {
        line-height: 130%;
    }

    .product-category {
        font-size: 190%;
    }

    .card {
        padding: 0px 10px 0 10px;
    }

    .card-body {
        height: 160px;
    }
}

@media screen and (min-width: 769px) and (max-width: 990px) {

    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .product-list {
        padding: 0 4rem;
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding-top: 1rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }

    .home-page-text-lge {
        margin-top: 2rem;
        font-size: 310%;
    }

    .home-page-text-sml {
        line-height: 130%;
    }

    .product-category {
        font-size: 190%;
    }

    footer {
        font-size: 90%;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {

    .nav-link {
        padding: 1rem 0.5rem 0 0.5rem ;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .home-page-text-lge {
        margin-top: 2rem;
        font-size: 280%;
    }

    .home-page-text-sml {
        font-size: 160%;
        line-height: 140%;
    }

    .product-category {
        font-size: 180%;
    }

    .product-list {
        padding: 0 6rem;
    }

    .card {
        padding: 20px 10px;
    }

    .card-img-top {
        height: auto;
        margin: 10px auto 30px auto;
    }

    .card-body {
        height: auto;
    }

    .txt-card-footer {
        margin-bottom: 0;
    }

    .image-container a img {
        padding: 0 40px !important;
    }

    footer {
        font-size: 90%;
    }
}

@media screen and (min-width: 450px) and (max-width: 575px) {

    .nav-link {
        padding: 1rem 0.5rem 0 0.5rem ;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .nav-link p.my-0 {
        font-size: 95%;
    }

    .home-page-text-lge {
        margin-top: 50px;
        padding-bottom: 30px !important;
        font-size: 190%;
        line-height: 130%;
    }

    .home-page-text-sml {
        font-size: 160%;
        line-height: 140%;
    }

    .product-category {
        font-size: 190%;
    }

    .product-list {
        padding: 0 3rem;
    }

    .pagination {
        font-size: 100%;
        letter-spacing: 0;
    }

    .card {
        padding: 20px 10px;
    }

    .card-img-top {
        height: auto;
        margin: 10px auto 30px auto;
    }

    .card-body {
        height: auto;
    }

    .txt-card-footer {
        margin-bottom: 0;
    }

    .shop-now-button {
        font-size: 80%;
    }

    .image-container {
        max-width: 300px;
    }

    footer {
        font-size: 90%;
    }
}

@media screen and (min-width: 330px) and (max-width: 449px) {

    .nav-link {
        padding: 1rem 0.2rem 0 0.2rem ;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .nav-link p.my-0 {
        font-size: 90%;
    }

    .home-page-text-lge {
        margin: 15px 0 0 0;
        padding-bottom: 20px !important;
        font-size: 130%;
        line-height: 130%;
    }

    .home-page-text-sml {
        font-size: 130%;
        line-height: 120%;
    }

    .product-category {
        font-size: 150%;
    }

    .product-list {
        padding: 0 1rem;
    }

    .pagination {
        font-size: 100%;
        letter-spacing: 0;
    }

    .card {
        padding: 20px 10px;
    }

    .card-img-top {
        height: auto;
        margin: 10px auto 30px auto;
    }

    .card-body {
        height: auto;
    }

    .txt-card-footer {
        margin-bottom: 0;
    }    

    .shop-now-button {
        letter-spacing: 1px;
        font-size: 70%;
        min-width: 180px;
    }

    .book-name h3{
        font-size: 160%;
    }

    footer {
        font-size: 80%;
    }
}

@media screen and (max-width: 329px) {

    .nav-link {
        padding: 1rem 0.1rem 0 0.1rem ;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .nav-link p.my-0 {
        font-size: 80%;
    }

    .home-page-text-lge {
        margin: 15px 0 0 0;
        padding-bottom: 20px !important;
        font-size: 130%;
        line-height: 130%;
    }

    .home-page-text-sml {
        font-size: 130%;
        line-height: 120%;
    }

    .product-category {
        font-size: 150%;
    }

    .product-list {
        padding: 0;
    }

    .pagination {
        font-size: 100%;
        letter-spacing: 0;
    }

    .card {
        padding: 20px 10px;
    }

    .card-img-top {
        height: auto;
        margin: 10px auto 30px auto;
    }

    .card-body {
        height: auto;
    }

    .txt-card-footer {
        margin-bottom: 0;
    }

    .shop-now-button {
        letter-spacing: 1px;
        font-size: 70%;
        min-width: 180px;
    }

    .book-name {
        h3 {
            font-size: 140%;
        }
    }

    footer {
        font-size: 80%;
    }
}
