* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100%;  
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
    color: #fafafa;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    background-image: url('../images/home_page_image1.webp');
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* nested flexbox used for .overlay to cover the whole main section without affecting the footer */
    display: flex;
    flex-direction: column;
}

.home-page-text-lge {
    font-family: 'Orbitron', sans-serif;
    font-size: 350%;
    letter-spacing: 2px;
    /* Credit: code for outline effect taken from stackoverflow.com and edited slightly to fit the project's needs */
    text-shadow: #000 4px 4px 4px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
}

.home-page-text-sml {
    line-height: 150%;
    letter-spacing: 1px;
    font-size: 170%;
    /* Credit: code for outline effect taken from stackoverflow.com and edited slightly to fit the project's needs */
    text-shadow: #000 4px 4px 4px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
}

.logo {
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 180%;
}

.logo img {
    height: 60px;
}

.shop-now-button {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    font-size: 90%;
    font-weight: 600;
    background: black;
    min-width: 200px;
    border: #5e7ea8 solid 2px;
    border-radius: 2%;
    color: #5e7ea8;
}

.shop-now-button:hover {
    background-color: #5e7ea8;
    border:#000 solid 2px;
    color:#000;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

footer {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
}

footer a {
    padding: 2px;
}

a {
    color: #5e7ea8;
}

a:hover {
    color: #adadad;
}

.categories-li {
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}

.navbar {
    padding-top: 0;
}

.orbitron {
    font-family: 'Orbitron', sans-serif;
}

.overlay {
    flex: 1 0 auto;
	background-image: url('../images/overlay.webp');
	z-index: 1;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* Bootstrap toasts customization */

.message-container {
    position: fixed;
    top: 80px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible !important;
}

.toast-capper {
    height: 2px !important;
}